.form__field {
    padding: 0 0 5px 0;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.2);
    outline: none;
}