.form__button {
    height: 50px;
    padding: 0;
    background-color: #000;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.form__button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

@media screen and (max-width: 767px) {
.form__button {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
}
}