.profile__avatar {
    position: relative;
    background-image: url(../../../images/profile/avatar.jpg);
    margin: 0;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    z-index: 2;
}

.profile__avatar:hover {
    opacity: 0.2;
    cursor: pointer;
}